body {
  height: 100vh;
  text-align: center;
  background: #fffffe;
  font-family: 'Bungee', cursive;
  margin: auto;
  font-size: 25px;
  color: #0E2B8D;
  text-shadow: 1px 1px black, 2.5px 2.5px  white;
  background-color: #87D6EF;
}
h1 {
  color: #0E2B8D;
  font-size: 32px;
  text-shadow: 1px 1px white, 3px 3px red;
}

span {
  color: white;
  font-size: 30px;
  text-shadow: -1.5px -1.5px #0E2B8D, 1px 1px black, 2px 2px red;
}

footer {
  color: red;
  text-shadow: 2px 2px white;
}
